.main {
  background-color: #d3d3d3;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.about {
  text-align: center;

  &__container {
    width: 80%;
    margin: auto;
  }

  &__title {
    font-size: $title-font;
  }
}
